In [17]:
# Alright, let's bring in the pandas library and get this data party started!

# This 'import pandas as pd' line imports the pandas library and aliases it as 'pd'.
# It's like sending out invitations to our data party and welcoming pandas as our honored guest.
import pandas as pd

In [19]:
# Now, let's get to the real deal! We're loading up our CSV file 'MonthlyProductSales2.csv'
# and dumping its juicy contents right into a DataFrame called df.
# It's like cracking open a treasure chest packed with data gold and pouring it into our data crib.

# This line of code uses the 'pd.read_csv()' function from the pandas library to read a CSV file
# and create a DataFrame. The DataFrame is assigned to the variable 'df'. It's like unlocking
# a treasure chest full of valuable data and pouring its contents into our data crib.
df = pd.read_csv('../MonthlyProductSales2.csv')

In [20]:
# Yo, peep this! The 'df' DataFrame holds all our dope data from the CSV file 'MonthlyProductSales2.csv'.
# It's like takin' another look at our data crib, checkin' out the treasures we've already scooped up.
df

,Month of Order Date,Product Name,Sales
0,2013-05-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208
1,2015-06-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208
2,2013-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",333
3,2016-07-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",416
4,2016-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",500
...,...,...,...
9247,2016-06-01,Zipper Ring Binder Pockets,6
9248,2016-07-01,Zipper Ring Binder Pockets,10
9249,2013-04-01,Zipper Ring Binder Pockets,14
9250,2016-12-01,Zipper Ring Binder Pockets,15
9251,2013-07-01,Zipper Ring Binder Pockets,16

In [24]:
# Alright, fam, let's get a glimpse of the first few rows in our DataFrame.

# This line of code uses the 'head()' method on our DataFrame 'df' to display the first 10 rows.
# It's like peeking through the front window of our data crib to see who's chillin' inside.
df.head(n=10)

,Month of Order Date,Product Name,Sales
0,2013-05-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208
1,2015-06-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208
2,2013-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",333
3,2016-07-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",416
4,2016-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",500
5,2015-08-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",1041
6,2013-11-01,1/4 Fold Party Design Invitations & White Enve...,6
7,2014-11-01,1/4 Fold Party Design Invitations & White Enve...,44
8,2014-12-01,3-ring staple pack,4
9,2013-01-01,3-ring staple pack,6

In [13]:
# show last 10 rows
df.tail(n=10)

     Month of Order Date                Product Name  Sales
9242          2015-07-01  Zipper Ring Binder Pockets      2
9243          2015-12-01  Zipper Ring Binder Pockets      3
9244          2016-01-01  Zipper Ring Binder Pockets      3
9245          2015-11-01  Zipper Ring Binder Pockets      4
9246          2014-11-01  Zipper Ring Binder Pockets      6
9247          2016-06-01  Zipper Ring Binder Pockets      6
9248          2016-07-01  Zipper Ring Binder Pockets     10
9249          2013-04-01  Zipper Ring Binder Pockets     14
9250          2016-12-01  Zipper Ring Binder Pockets     15
9251          2013-07-01  Zipper Ring Binder Pockets     16

In [21]:
# Alright, fam, here's the deal. We're diving deep into our data game with this slice.

# This line of code uses the 'tail()' method on our DataFrame 'df' to retrieve the last 10 rows.
# The 'tail()' method is like taking a peek at the end of our data crib, seeing what's up in the final stretch.
# The 'n=10' argument specifies that we want to fetch the last 10 rows specifically.
df.tail(n=10)

     Month of Order Date                Product Name  Sales
9242          2015-07-01  Zipper Ring Binder Pockets      2
9243          2015-12-01  Zipper Ring Binder Pockets      3
9244          2016-01-01  Zipper Ring Binder Pockets      3
9245          2015-11-01  Zipper Ring Binder Pockets      4
9246          2014-11-01  Zipper Ring Binder Pockets      6
9247          2016-06-01  Zipper Ring Binder Pockets      6
9248          2016-07-01  Zipper Ring Binder Pockets     10
9249          2013-04-01  Zipper Ring Binder Pockets     14
9250          2016-12-01  Zipper Ring Binder Pockets     15
9251          2013-07-01  Zipper Ring Binder Pockets     16

In [22]:
# Yo, check it out! Time to hit up the 'info()' function for our DataFrame 'df'.

# This function is like callin' in the data squad to give us the lowdown on our crib.
# It spills all the tea on our data, from its size and shape to the data types rollin' in.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9252 entries, 0 to 9251
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Month of Order Date  9252 non-null   object
 1   Product Name         9252 non-null   object
 2   Sales                9252 non-null   int64
dtypes: int64(1), object(2)
memory usage: 217.0+ KB

In [23]:
# Yo, check it! We're about to dive into the world of series with this slice.

# First up, we're selecting the 'Product Name' column from our DataFrame 'df' and assigning it to the series 's'.
# It's like grabbing a specific stack of records from our data crib and tossing them into a new container.
s = df['Product Name']

# Next, we're using the 'value_counts()' method on the series 's' to tally up the frequency of each value.
# This method is like running a headcount on each item in our series, so we know how many of each we've got.
# The 'dropna=False' argument ensures that missing values are also counted.
s.value_counts(dropna=False)

Product Name
Easy-staple paper                                              32
Staples                                                        30
Staple envelope                                                30
Staples in misc. colors                                        18
Avery Non-Stick Binders                                        14
                                                               ..
Xerox 20                                                        1
Cisco Desktop Collaboration Experience DX650 IP Video Phone     1
Cisco SPA 501G IP Phone                                         1
Cisco SPA525G2 5-Line IP Phone                                  1
Panasonic BusinessÃŠTelephonesÃŠKX-T7736                          1
Name: count, Length: 1850, dtype: int64